<script src="/js/webslides.min.js"></script>
<script>window.ws = new WebSlides({
  autoslide:{{- .Site.Params.Webslides.autoslide -}},
  changeOnClick:{{- .Site.Params.Webslides.changeonclick -}},
  loop:{{- .Site.Params.Webslides.loop -}},
  minWheelDelta:{{- .Site.Params.Webslides.minwheeldelta -}},
  navigateOnScroll:{{- .Site.Params.Webslides.navigateonscroll -}},
  scrollWait:{{- .Site.Params.Webslides.scrollwait -}},
  slideOffset:{{- .Site.Params.Webslides.slideoffset -}},
  showIndex:{{- .Site.Params.Webslides.showindex -}},
});</script>
<script defer src="/js/svg-icons.js"></script>
