<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ or .Page.Title .Site.Title }}</title>
    {{ with $.Param "description" }}<meta name="description" content="{{ . }}">{{ end }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type='text/css' media='all' href="/css/webslides.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/svg-icons.css">
    {{- partial "head.html" . }}
  </head>
  <body>
    {{ partial "body.html" . -}}
    {{- partial "banner.html" . -}}
    <main role="main">
      <article id="webslides">
        {{ block "main" . -}}{{- end }}
      </article>
    </main>

    {{- partial "footer.html" . }}
  </body>
</html>
