{{- if .Site.Params.Webslides.banner -}}

<header role="banner">
  <nav role="navigation">
    {{ with .Site.Params.Author}}<p class="logo"><a href="../index.html" title="{{ . }}">{{.}}</a></p>{{ end }}
    <ul>
      {{- with .Site.Social.Github }}
      <li class="github">
        <a rel="external" href="https://github.com/{{ . }}" title="Github">
          <svg class="fa-github">
            <use xlink:href="#fa-github"></use>
          </svg>
          <em>{{ . }}</em>
        </a>
      </li>
      {{ end -}}
      {{- with .Site.Social.Twitter }}
      <li class="twitter">
        <a rel="external" href="https://twitter.com/{{ . }}" title="Twitter">
          <svg class="fa-twitter">
            <use xlink:href="#fa-twitter"></use>
          </svg>
          <em>@{{ . }}</em>
        </a>
      </li>
      {{ end -}}
    </ul>
  </nav>
</header>

{{- end -}}
