<script src="js/webslides.min.js"></script>
<script>window.ws = new WebSlides({
  {{- with .Site.Params.Webslides.autoslide -}}autoslide:{{- . -}},{{- end -}}
  {{- with .Site.Params.Webslides.changeonclick -}}changeOnClick:{{- . -}},{{- end -}}
  {{- with .Site.Params.Webslides.disableLoop -}}loop: false,{{ end }}
  {{- with .Site.Params.Webslides.minwheeldelta -}}minWheelDelta:{{- . -}},{{- end -}}
  {{- with .Site.Params.Webslides.disablenavigateonscroll -}}navigateOnScroll: false,{{- end -}}
  {{- with .Site.Params.Webslides.scrollwait -}}scrollWait:{{- . -}},{{- end -}}
  {{- with .Site.Params.Webslides.slideoffset -}}slideOffset:{{- . -}},{{- end -}}
  {{- with .Site.Params.Webslides.hideindex -}}showIndex: false,{{- end -}}
});</script>
<script defer src="js/svg-icons.js"></script>
